
@import './style.css';

@import './1_5_main.css';
@import './typeOfTech.scss';
@import './style__menu.css';
@import './price.scss';
@import './footer.scss';
@import './callback.scss';
@import './close-call.scss';



a,h1,h2,h3,h4{
  margin: 0;
}

button:hover{
	opacity:0.5;
	
}

a{
	transition: opacity 0.3s ease;
}

a:hover{
	opacity:0.5;
}

button{
	transition: opacity 0.3s ease;
	padding-inline: 60px;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}